<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs');%>

<body>
    <%- include('./partials/nav.ejs');%>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugiat eum maiores aperiam cumque, perspiciatis facilis soluta architecto dolorum assumenda aut inventore dolores esse, quidem aliquid eligendi exercitationem sapiente blanditiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In delectus, obcaecati repellendus soluta non quisquam fugit cupiditate fugiat reprehenderit totam ad aspernatur illo laudantium. Impedit consectetur quisquam laborum repellendus harum minus, nihil ad fugit.</p>
    </div>
    <%- include('./partials/footer.ejs');%>
</body>

</html>
